.btn{

display:flex;
align-items:center;
justify-content:center;

width:100%;
min-height:60px;

border-radius:20px;

font-size:1rem;
font-weight:700;

text-decoration:none;

transition:.2s;

}

.btn:hover{

transform:translateY(-2px);

}

.btn-primary{

background:#ff7a00;
color:white;

box-shadow:0 8px 24px rgba(255,122,0,.25);

}

.btn-secondary{

background:white;

color:#111;

border:1px solid #ececec;

}
